FacebookMessenger
[
    {
        "id": "d0f42e5.b20a3d",
        "type": "watson-conversation-v1",
        "z": "594c93f8.d72724",
        "name": "",
        "workspaceid": "7b01a0a3-71f5-490e-86e9-56ff26ed3ce4",
        "multiuser": true,
        "context": true,
        "x": 281.5,
        "y": 242.00001525878906,
        "wires": [
            [
                "4817060b.ec007",
                "32bd76ca.6b891a",
                "b4a89b77.da1e7"
            ]
        ]
    },
    {
        "id": "d913ff1b.6dc5f8",
        "type": "function",
        "z": "594c93f8.d72724",
        "name": "text output",
        "func": "msg.payload = {\n    type: 'text',\n    text: msg.payload.output.text[0],\n    user: msg.user,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 643.5,
        "y": 460.2000732421875,
        "wires": [
            [
                "379d6343.4f8ee4",
                "dd7766fb.f30d48"
            ]
        ]
    },
    {
        "id": "4817060b.ec007",
        "type": "debug",
        "z": "594c93f8.d72724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 487.50006103515625,
        "y": 242.4000244140625,
        "wires": []
    },
    {
        "id": "379d6343.4f8ee4",
        "type": "debug",
        "z": "594c93f8.d72724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 827.8333473205566,
        "y": 509.46664237976074,
        "wires": []
    },
    {
        "id": "739e1e04.5f1ee8",
        "type": "http in",
        "z": "594c93f8.d72724",
        "name": "",
        "url": "/message",
        "method": "post",
        "swaggerDoc": "",
        "x": 85,
        "y": 112,
        "wires": [
            [
                "92a12788.298378"
            ]
        ]
    },
    {
        "id": "dd7766fb.f30d48",
        "type": "http response",
        "z": "594c93f8.d72724",
        "name": "",
        "x": 820.4333419799805,
        "y": 464.7999839782715,
        "wires": []
    },
    {
        "id": "92a12788.298378",
        "type": "function",
        "z": "594c93f8.d72724",
        "name": "conversation input",
        "func": "var message = JSON.parse(msg.req.body);\nmsg.user = message.sender;\nmsg.payload = message.data.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 277.59999084472656,
        "y": 140.79998016357422,
        "wires": [
            [
                "60ae1b13.c092d4"
            ]
        ]
    },
    {
        "id": "32bd76ca.6b891a",
        "type": "switch",
        "z": "594c93f8.d72724",
        "name": "",
        "property": "payload.intents[0].intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "greetings",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "weather",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 257.0999755859375,
        "y": 341.5999755859375,
        "wires": [
            [
                "d913ff1b.6dc5f8"
            ],
            [],
            [
                "d913ff1b.6dc5f8"
            ]
        ]
    },
    {
        "id": "fdea742c.0cb3f",
        "type": "weather_insights",
        "z": "594c93f8.d72724",
        "name": "current weather",
        "host": "twcservice.mybluemix.net",
        "service": "/observations.json",
        "geocode": "25.033493,121.564101",
        "units": "m",
        "language": "zh-TW",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "2e661d43.e2d64a",
                "1e777029.a6fb38"
            ]
        ]
    },
    {
        "id": "2e661d43.e2d64a",
        "type": "function",
        "z": "594c93f8.d72724",
        "name": "weather output",
        "func": "var weather = msg.observation;\nmsg.payload = {\n    type: 'weather',\n    user: msg.user,\n    location: weather.obs_name,\n    temp: weather.temp,\n    disc: weather.wx_phrase,\n    image: 'https://raw.githubusercontent.com/IBM-Bluemix/weather-company-data-demo/master/public/images/weathericons/icon'+weather.wx_icon+'.png'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 653.0000610351562,
        "y": 292.800048828125,
        "wires": [
            [
                "1a81365.7d016ca",
                "70fffcc3.e1ea8c"
            ]
        ]
    },
    {
        "id": "1a81365.7d016ca",
        "type": "http response",
        "z": "594c93f8.d72724",
        "name": "",
        "x": 825.0001220703125,
        "y": 315.4000244140625,
        "wires": []
    },
    {
        "id": "70fffcc3.e1ea8c",
        "type": "debug",
        "z": "594c93f8.d72724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 846.0001220703125,
        "y": 357.3999938964844,
        "wires": []
    },
    {
        "id": "1e777029.a6fb38",
        "type": "debug",
        "z": "594c93f8.d72724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 642.0000915527344,
        "y": 355.8000183105469,
        "wires": []
    },
    {
        "id": "a127f924.9edbd8",
        "type": "watson-tone-analyzer-v3",
        "z": "594c93f8.d72724",
        "name": "語調分析",
        "tones": "all",
        "sentences": "true",
        "contentType": "false",
        "x": 489,
        "y": 140,
        "wires": [
            [
                "b4a89b77.da1e7",
                "d0f42e5.b20a3d"
            ]
        ]
    },
    {
        "id": "b4a89b77.da1e7",
        "type": "debug",
        "z": "594c93f8.d72724",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "response",
        "x": 735.5,
        "y": 142,
        "wires": []
    },
    {
        "id": "e32a042b.8633d",
        "type": "comment",
        "z": "594c93f8.d72724",
        "name": "輸出到 FB聊天機器人",
        "info": "",
        "x": 869.3333129882812,
        "y": 272,
        "wires": []
    },
    {
        "id": "b53e994e.352d68",
        "type": "comment",
        "z": "594c93f8.d72724",
        "name": "輸出到 FB聊天機器人",
        "info": "",
        "x": 871,
        "y": 421,
        "wires": []
    },
    {
        "id": "60ae1b13.c092d4",
        "type": "link out",
        "z": "594c93f8.d72724",
        "name": "輸出到 Line 聊天機器人",
        "links": [
            "7b75e530.14f6bc"
        ],
        "x": 454.1666259765625,
        "y": 45.26667022705078,
        "wires": []
    },
    {
        "id": "d458c2d8.5f9208",
        "type": "comment",
        "z": "594c93f8.d72724",
        "name": "輸出到 Line 聊天機器人",
        "info": "",
        "x": 621,
        "y": 46,
        "wires": []
    }
]