LineBot
[
    {
        "id": "27f9803c.de5f9",
        "type": "subflow",
        "name": "百度翻譯 (4) (4) (2)",
        "info": "",
        "in": [
            {
                "x": 276,
                "y": 294.00000762939453,
                "wires": [
                    {
                        "id": "47a5126a.9aab1c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1154.0000610351562,
                "y": 332.00000762939453,
                "wires": [
                    {
                        "id": "78406cd.a24a014",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "90410de2.38dfe8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "a3c73c3a.8f282",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "6fab6c46.e6a694",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "eb2ae528.872c38",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "f8f50219.ea8ab8",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "6b4f3e.815788c4",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "14121fad.9001",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "1f7e9d07.6663cb",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "f6255ff6.6f95b",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "53f73598.bc8234",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "61b1fe87.4841f",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "6300ece4.ea48dc",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "9f4a6b2b.c1a9d8",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "d44f677.0e02098",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "4a195f35.59bb2",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "3d62a27.3fe285e",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "671330a3.92bf5",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "7e0629ea.5a4988",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "27e9d8f7.47bae8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "adef3beb.fdce78",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "f9596d1e.bf788",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "c3aa273f.42043",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "598559cd.d2d838",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "7649a51d.ff34b4",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "ce3ee92c.57992",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "e884ebc0.41b2d",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "71f642a4.9230b4",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ce613b.e24168",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "dd325dbc.7570b",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "beba24c9.9c1648",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "3d0ef62.4d0378a",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "73c6924.049af6c",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "b3280206.925ff8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "1b3bec54.1e2f84",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "6ad646b6.577018",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "7a8a071f.779d28",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "6adb89cc.b470e",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "c11c69e4.3fcea8",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "3d6ae4d9.4e298c",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "6e5ff30b.bd3a84",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "c6a3dcae.a1f078",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "7bbb749b.826504",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "5226f39b.e32e94",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "5f9c6d8b.805ea4",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "9bc55e33.ee9678",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "4912777e.80295",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "7a186c56.23469c",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "817d8869.c754b8",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "31824e75.bcb47a",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "e37a9656.744ab8",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "f5988f23.8f2f58",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "29d58cae.ae3424",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "23892c47.b1062c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "cc6adedd.0e4a1",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "b59d4f2.33b7b3",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "d24a7ff9.939d88",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "4f357b0c.f165e4",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "4d8e9cab.1a0594",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "69b9b73f.053268",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "89462c44.747cd8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "44a154dd.9bddac",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "9dbdd583.82a7c8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "f9470a7e.a0e358",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "9f890878.a298d8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "664daff4.37163",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "12504f53.f9d561",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "b7463464.e510d",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "c8be992e.184b",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "bd793cc6.691a78",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "c5dac25.1c5d54",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "f317b6ec.851628",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "d335c561.9d7c38",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "7a56be95.e003b8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "36b875bf.ff61a2",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "76348ee1.1e59f",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "1f9b699d.d44ec6",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "19784dc8.8be02a",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "850e7dbe.b3d2f8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "809ae709.5049f",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "65302790.6056b",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "a634ac03.87a96",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "3ae470d3.2016b8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "d8758595.b94a88",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "48a4b776.04dde",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "9b2d1d7f.a72748",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "e784d2e.18034b",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "33b83a51.069746",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "7ea17d1d.a940f4",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "833d1553.546c8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "a333649f.74da78",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "508c45b0.8fc7ec",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "b62b2f5d.67bfd",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "fcfec52d.d458d",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "94ff9357.faae6",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "cde8cbe.6d8b938",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "9b3304d.b13fe78",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "59c43de8.221db4",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "cbfbc920.292fc8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "a8faea06.ec952",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "6c65b2fa.568ca4",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "c9736a4b.26789",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "42bafc9c.6ad014",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "c9bf5414.7cb3b",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "d4d89b14.97e02",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "66711903.287c4",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "2824524f.626c8e",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "b74224ee.900488",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "b9e34abb.7f0938",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "7063552.d259fac",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "601e36e5.51eb18",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "b0727402.9dec18",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "eff1557c.32",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "f1602319.a745f",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "715091a0.d2319",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "3e8ebef4.10fc3a",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "cf8a41fb.a5edf8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "2a9d75c0.8aa76a",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "497dc5ff.0d8d2c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "7f52d82f.c4c3f",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "33e27e4b.6d92aa",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "bbe3012c.63fff",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "98498fff.c302b",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "3bea14e7.596f2c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "a36bb0d4.988268",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "f340ae84.4b85e8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "a96532b7.d58bd",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "f929f0c5.bf3e78",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "e3f158b9.bf4f2",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "90884644.8013c8",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "6eb6acfa.cd031c",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "bb86ecb0.4d932",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "d33b30b7.7f6428",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "101e13b5.f04fec",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "b6b074ad.e010d",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "a699e580.377718",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "6a9f8419.f49e6c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "84022712.fe4d88",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "7780c038.bd9238",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "f5c3259.3d3b8d8",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "607976.0cd2968c",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "86e2e7e3.d318c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "415d139b.cabb64",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "c6e4da10.17f79",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958320617676,
        "y": 327.8888931274414,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "1b4297c3.cfb2e8",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "3c56906c.4ec0e8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "47200078.7d9b08",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "51901799.1178b",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "d544e89d.7b134",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "2dce5424.02e0c4",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "2acb1ba8.d94d64",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "ef74a66a.b4e6b",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "770f32c2.6bacdc",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "8cb884cb.2bf15",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "cd6699ce.980648",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "b6be51f9.7bb178",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "ce11ad6b.6ee108",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "254a37da.06d228",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "1f17097d.0bc6ff",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "cdcfef8b.fe2f5",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "6cef6c9a.a647dc",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "f985b603.b184c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "affbb5d1.06998",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "b43d1a17.2f7e7",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "f04785ae.6c8f98",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "ef1d9ba.f4394e8",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "e4b9c79e.6f031",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "1160dcdf.94aa9b",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "5a43591f.755c28",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "41bc8ab9.689f14",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "9618b010.c25d68",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "b631b8e3.132b2",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "93efe2d.57775a",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "292296.e0386d6a",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "e08497cb.259c5",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "95404d49.bb9a18",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "99c8a778.ce7ae",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "d5520f2.57461f",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "f8859bfc.2e49a8",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "526ff22e.f6b3dc",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "5bd70d01.256ea4",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "b40bcbc9.fdb0f8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "d78898d2.15cbc8",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "dd506530.479698",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "9e89e89d.d8c318",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "b60b8be4.54eee",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "65437cf3.138634",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "10400e05.7a460a",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "1269d107.5b289f",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "bdd51604.e637c8",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "2f0bf9ff.6185a6",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "5490f89d.729c6",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "dfd43580.f0d29",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "be072b68.a70d88",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "a2dfa229.851518",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "591a9289.63daac",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "8a8d3545.1cf5",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "6dd5ce1d.626f28",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "aa4a2c83.89f95",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "491850f7.0f2258",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "f1a33318.3d0c1",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "23a2773b.afd6c",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "b884b8c5.5dcfe8",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "2b4894fb.1f0cf4",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "d4b787ab.2477a",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "34b02648.d370ea",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "320f41f6.ba6396",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "724bb27.325d44c",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "e088a257.261378",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "70066ea9.3b2038",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "63a32ac2.783db4",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "873ebce8.128da",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "85557f01.479d88",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "3d1e7a93.adfbbe",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "8193b8fd.ed7408",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "fd546bed.f14338",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "b905163f.852c88",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "fdb6c20b.169aa8",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "57406d28.8d633c",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "5f81d7cd.9a5338",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "b5bddbdd.1e3f78",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "96929fb2.73d4",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "18f7bf73.64a4f1",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "e93aa2d4.6549c",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "1de4471c.a558d9",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "c68b33f2.1f5d28",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "25ebd790.cdc598",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "249e4413.663524",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "34a9f17e.a8de8e",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "642b0973.c39b",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "6fa57d5b.b04314",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "c949e62c.e88b68",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "27b71673.5066a2",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "fba5a9e5.f48f7",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "9cff9282.5714c",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "6dd12f10.b7b1",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "c77fa374.e0885",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "632ffc49.7707c4",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "5eda4fc0.6c1378",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "4dd10cda.be7fcc",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "df3bb194.7496c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "3cd04258.a179d6",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "7ddb84f1.0cb444",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "bda28eeb.c3e2",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "b6f260ff.2f79a",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "46405c43.f86284",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "b8f34f61.9b1d6",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "1633ccf4.653cbb",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "edc88687.1f7ab",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "5a9ece01.d2f538",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "b0380761.08527",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "aee9fceb.c2126",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "9034d055.b36dd",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "55e3bc18.236a84",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "7b1f0b78.a4fc94",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "307baa30.500ec6",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "5d94e48d.a2e8a4",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "244933e0.c9e074",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "4ea3f789.5bfe9",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "387b3937.db79de",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "35d14c42.be2a6c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "6336887e.9adf98",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "c2cae2b.accc92",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "a479b3d9.545f18",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "8b4bae1e.3b5e28",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "f243561a.0c8218",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "75402887.c04af8",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "68eb8ad6.4062cc",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "523cbcab.d312b4",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "94e4792a.5d78d",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "14893927.3c3c37",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "a004acd1.982048",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "1f4b2682.39ba09",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "28b3acfb.1e5ef4",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "d78b4a56.8b7f6",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "2bacf12e.f94096",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "7913337.269684c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "73a29350.5636bc",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "5e2a7c52.19f5fc",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958129882812,
        "y": 329.8888854980469,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "90f3f25.af3969",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "6c62f631.cdb27",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "var md5 = context.global.md5;\n\n\n//msg.payload='我 会 吃饭 打电动  看影片'\nvar ut=encodeURI(msg.payload);\n//appid+q+salt+密钥\nvar sign_word='20160512000020797'+msg.payload+'1435660288'+'PjAuPfz5BfOfrjjGjcZH';\n\nvar sign=md5(sign_word)\nmsg.url='http://api.fanyi.baidu.com/api/trans/vip/translate?q='+msg.payload+'&from=zh&to=cht&appid=20160512000020797&salt=1435660288&sign='+sign\n/*msg={\n    \n    q:msg.payload,\n    sign:sign,\n    from:'zh',\n    to:'cht',\n    appid:20160512000020797,\n    salt:1435660288\n    \n    \n    \n}*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.7418670654297,
        "y": 642.9347381591797,
        "wires": [
            [
                "fb7b1133.8c6958"
            ]
        ]
    },
    {
        "id": "6d0af599.8f8364",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.7363128662109,
        "y": 951.5619201660156,
        "wires": []
    },
    {
        "id": "fb7b1133.8c6958",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 612.7436370849609,
        "y": 672.8558959960938,
        "wires": [
            [
                "6d0af599.8f8364",
                "c616ac73.45b9a"
            ]
        ]
    },
    {
        "id": "c616ac73.45b9a",
        "type": "json",
        "z": "27f9803c.de5f9",
        "name": "",
        "x": 805.7388763427734,
        "y": 665.6120910644531,
        "wires": [
            [
                "564abd33.297cec",
                "d88a2293.e50618"
            ]
        ]
    },
    {
        "id": "564abd33.297cec",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 931.7568206787109,
        "y": 824.8102722167969,
        "wires": []
    },
    {
        "id": "d88a2293.e50618",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "msg.payload=msg.payload.trans_result[0].dst\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 943.7375946044922,
        "y": 674.0749053955078,
        "wires": [
            [
                "da39683c.bc943"
            ]
        ]
    },
    {
        "id": "da39683c.bc943",
        "type": "debug",
        "z": "27f9803c.de5f9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1118.7349090576172,
        "y": 792.8198547363281,
        "wires": []
    },
    {
        "id": "47a5126a.9aab1c",
        "type": "function",
        "z": "27f9803c.de5f9",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans?text='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 632.8958320617676,
        "y": 327.8888931274414,
        "wires": [
            [
                "78406cd.a24a014"
            ]
        ]
    },
    {
        "id": "78406cd.a24a014",
        "type": "http request",
        "z": "27f9803c.de5f9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 802.9652099609375,
        "y": 330.2291564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "5f749144.e18b6",
        "type": "subflow",
        "name": "phone_03 輸出",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 1780.9999694824219,
                "y": 512.0000228881836,
                "wires": [
                    {
                        "id": "d5336f03.e926a8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "43ad3e4.7d8644",
        "type": "ibmiot in",
        "z": "5f749144.e18b6",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "phone03",
        "applicationId": "",
        "deviceType": "robot",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": true,
        "x": 493,
        "y": 492.6665725708008,
        "wires": [
            [
                "cdc482bd.af0738"
            ]
        ]
    },
    {
        "id": "537eed4a.08fdb4",
        "type": "function",
        "z": "5f749144.e18b6",
        "name": "",
        "func": "msg1=\n{\n    payload:''\n}\nmsg1.payload=msg.payload.d.text;\nmsg1.eventId=msg.payload.d.eventId;\nmsg1.eventUser=msg.payload.d.eventUser;\nif(msg.deviceId=='phone03'&&msg1.payload!==''){\ncontext.global.phone_dialog_answer=false;\nreturn msg1;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 703.8333129882812,
        "y": 658.9999465942383,
        "wires": [
            [
                "d5336f03.e926a8"
            ]
        ]
    },
    {
        "id": "47aa0ad2.a9fbdc",
        "type": "subflow:27f9803c.de5f9",
        "z": "5f749144.e18b6",
        "name": "",
        "x": 962.3819580078125,
        "y": 635.6666641235352,
        "wires": [
            []
        ]
    },
    {
        "id": "3e0e4971.e82496",
        "type": "ibmiot in",
        "z": "5f749144.e18b6",
        "authentication": "quickstart",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "fbbot",
        "applicationId": "",
        "deviceType": "robot",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": true,
        "qos": "0",
        "x": 493,
        "y": 492.6665725708008,
        "wires": [
            [
                "cdc482bd.af0738"
            ]
        ]
    },
    {
        "id": "cdc482bd.af0738",
        "type": "function",
        "z": "5f749144.e18b6",
        "name": "",
        "func": "msg1=\n{\n    payload:''\n}\nmsg1.payload=msg.payload.d.text;\nmsg1.eventId=msg.payload.d.eventId;\nmsg1.eventUser=msg.payload.d.eventUser;\nif(msg.deviceId=='linebot'&&msg1.payload!==''){\ncontext.global.phone_dialog_answer=false;\nreturn msg1;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 703.8333129882812,
        "y": 658.9999465942383,
        "wires": [
            [
                "d5336f03.e926a8"
            ]
        ]
    },
    {
        "id": "d5336f03.e926a8",
        "type": "subflow:27f9803c.de5f9",
        "z": "5f749144.e18b6",
        "name": "",
        "x": 962.3819580078125,
        "y": 635.6666641235352,
        "wires": [
            []
        ]
    },
    {
        "id": "a6006b73.35e358",
        "type": "ibmiot in",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "touchbot",
        "applicationId": "",
        "deviceType": "bottype",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": true,
        "qos": 0,
        "x": 799,
        "y": 842,
        "wires": [
            [
                "3bdad99b.d828fe",
                "deecadfc.f15a9"
            ]
        ]
    },
    {
        "id": "3bdad99b.d828fe",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1089.500036239624,
        "y": 740.9999961853027,
        "wires": []
    },
    {
        "id": "deecadfc.f15a9",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var m = msg.payload;\nif (m.type === 'text') {\n    node.warn(m.text);\n    msg.payload = m.text\n    msg.user = m.user;\n    msg.message = m;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 960.5000381469727,
        "y": 846.1999225616455,
        "wires": [
            [
                "fd00f0ea.23bdc",
                "2817bb05.25f804",
                "d1818baf.8176c8"
            ]
        ]
    },
    {
        "id": "980494eb.3c7598",
        "type": "ibmiot in",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "raspberry-touch",
        "applicationId": "",
        "deviceType": "bottype",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": true,
        "qos": 0,
        "x": 830.5,
        "y": 703,
        "wires": [
            [
                "3bdad99b.d828fe",
                "deecadfc.f15a9"
            ]
        ]
    },
    {
        "id": "fd00f0ea.23bdc",
        "type": "watson-conversation-v1",
        "z": "76ec1e6a.40b38",
        "name": "",
        "workspaceid": "7b01a0a3-71f5-490e-86e9-56ff26ed3ce4",
        "multiuser": true,
        "context": true,
        "x": 1119.8333358764648,
        "y": 789.9999904632568,
        "wires": [
            [
                "e992a143.02bcd",
                "b4ec1e0a.de8d48",
                "55e09b5c.530314"
            ]
        ]
    },
    {
        "id": "2817bb05.25f804",
        "type": "link out",
        "z": "76ec1e6a.40b38",
        "name": "",
        "links": [
            "b85e1dd7.48f11"
        ],
        "x": 1079.1666666666665,
        "y": 1176.6666666666665,
        "wires": []
    },
    {
        "id": "d1818baf.8176c8",
        "type": "chatbot-conversation",
        "z": "76ec1e6a.40b38",
        "name": "",
        "chatId": "1566663023346313",
        "transport": "facebook",
        "messageId": "",
        "contextMessageId": false,
        "x": 979.166618347168,
        "y": 1245.0000486373901,
        "wires": [
            [
                "206bf83.3ca7e08",
                "123c365a.4d6bfa"
            ]
        ]
    },
    {
        "id": "e992a143.02bcd",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var output =  msg.payload.output.text[0];\nnode.warn(output);\nmsg.payload = {\n    message: msg.message,\n    reply: {\n        text: output\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1181.5,
        "y": 878.2000122070312,
        "wires": [
            [
                "c0637068.95b558",
                "f9a88824.b84628"
            ]
        ]
    },
    {
        "id": "b4ec1e0a.de8d48",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1434.5,
        "y": 783.4000244140625,
        "wires": []
    },
    {
        "id": "55e09b5c.530314",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "",
        "property": "payload.intents[0].intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "invest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "help",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "travel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "music",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "movie",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 7,
        "x": 1759,
        "y": 1182.3125,
        "wires": [
            [
                "14e77cc4.465a73",
                "a41016f5.a5aa78"
            ],
            [
                "325957d8.aff8e8"
            ],
            [
                "246655f1.a9392a"
            ],
            [
                "246655f1.a9392a",
                "fde9460c.32787"
            ],
            [],
            [
                "e16e3453.bbf6f8"
            ],
            [
                "e9b804ff.d251b",
                "c0ad41bd.1173"
            ]
        ]
    },
    {
        "id": "206bf83.3ca7e08",
        "type": "chatbot-message",
        "z": "76ec1e6a.40b38",
        "name": "",
        "message": [
            {
                "message": ""
            }
        ],
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 1165.833339691162,
        "y": 1340.0001316070557,
        "wires": [
            [
                "b8c35793.421d98",
                "1e2f6346.e1181d"
            ]
        ]
    },
    {
        "id": "123c365a.4d6bfa",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1109.1666666666665,
        "y": 1439.9999999999998,
        "wires": []
    },
    {
        "id": "c0637068.95b558",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1426.5,
        "y": 861.7999877929688,
        "wires": []
    },
    {
        "id": "f9a88824.b84628",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "touchbot",
        "deviceType": "bottype",
        "eventCommandType": "reply",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 1339,
        "y": 918,
        "wires": []
    },
    {
        "id": "14e77cc4.465a73",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.intents[0].intent",
        "x": 2270.1428298950195,
        "y": 722.3123450279236,
        "wires": []
    },
    {
        "id": "a41016f5.a5aa78",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "Get Weather Information",
        "method": "GET",
        "ret": "txt",
        "url": "https://28a3a79c-3f24-4a6d-a22a-3ce2d79286a6:ooubh83Gk5@twcservice.mybluemix.net:443/api/weather/v1/geocode/25.0232315/121.4788887/forecast/daily/3day.json?units=m&language=zh-TW",
        "tls": "",
        "x": 2256.744094848633,
        "y": 650,
        "wires": [
            [
                "f90d3534.a2b848"
            ]
        ]
    },
    {
        "id": "325957d8.aff8e8",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var askStock=false;\nvar stockcode='';\nif(msg.result.entities){\n    for(var i=0;i<msg.result.entities.length;i++){\n        if(msg.result.entities[i].entity=='stock')\n            askStock=true;\n        if(msg.result.entities[i].entity=='stockName'){\n            stockcode=msg.result.entities[i].value;\n            askStock=true;\n        }\n        // exchange = msg.result.entities[i].value;\n    }\n}\n msg.askStock=askStock;\n msg.stockcode=stockcode;\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2012.2856941223145,
        "y": 1021.5981907844543,
        "wires": [
            [
                "eed8a2ff.4af558"
            ]
        ]
    },
    {
        "id": "246655f1.a9392a",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "//msg.payload=msg.payload.d.text;\n// var numb = msg.result.input.text;\nqStr=encodeURI(msg.result.input.text);\nmsg.url='http://darwin.mybluemix.net/trans_zh?text='+qStr;//%E4%BD%A0%E5%A5%BD%m\n//msg.eventId=msg.payload.d.eventId;\n//msg.eventUser=msg.payload.d.eventUser;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2010.571388244629,
        "y": 1073.514774799347,
        "wires": [
            [
                "53ae1c0d.88838c"
            ]
        ]
    },
    {
        "id": "fde9460c.32787",
        "type": "link out",
        "z": "76ec1e6a.40b38",
        "name": "",
        "links": [],
        "x": 2043.285620689392,
        "y": 1141.9909882545471,
        "wires": []
    },
    {
        "id": "e16e3453.bbf6f8",
        "type": "link out",
        "z": "76ec1e6a.40b38",
        "name": "",
        "links": [
            "536cf143.e74a8"
        ],
        "x": 2045.7142143249512,
        "y": 1196.4553227424622,
        "wires": []
    },
    {
        "id": "e9b804ff.d251b",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "Get First output",
        "func": "//msg.payload = msg.result.output.text[0];\nmsg.payload=msg.mid+'#'+msg.eventId+'#'+msg.eventUser+'#'+msg.result.output.text[0]+\"#\"+msg.result.intents[0].confidence;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2709.3572845458984,
        "y": 2084.386049747467,
        "wires": [
            [
                "e48e65ba.f75ce8",
                "8b40f1a.9ed641",
                "24d41c78.425914"
            ]
        ]
    },
    {
        "id": "c0ad41bd.1173",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload = {\n    message: msg.result.output.text[0],\n    sid: msg.sid\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2097.5712890625,
        "y": 1545.2767333984375,
        "wires": [
            [
                "f6a82eb5.e3ac48"
            ]
        ]
    },
    {
        "id": "b8c35793.421d98",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1354.1666666666665,
        "y": 1441.6666666666665,
        "wires": []
    },
    {
        "id": "1e2f6346.e1181d",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload.content = msg.message.text\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1314.1666793823242,
        "y": 1338.3333854675293,
        "wires": [
            [
                "e85f7eb.576048",
                "554a4f16.3184b"
            ]
        ]
    },
    {
        "id": "8f643cbe.8fc8f",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var lineMsg = {\n    topic: \"iot-2/type/bottype/id/touchbot/evt/text/fmt/json\",\n    payload: {\n        reply:{text: msg.payload},\n    },\n    deviceId: \"touchbot\",\n    deviceType: \"bottype\",\n    eventType: \"text\",\n    format: \"json\",\n    user: \"U393e65390f31e20eb7d99b27fedbe66a\",\n}\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"Bearer WdFhI0tGkaL2hyfHCkqL/920/MExP1PTy8omY1+kRl94gNQIU0aXjYmoW65rOy++nRha6dzDklYBkHp2md4SkRpuXxq45vrRmDOfcD7NXv/vOyndHiKJxS1rX/XoF0lME22O8VQ3KrE79K28JhffkwdB04t89/1O/w1cDnyilFU=\"\n     }\n     \nmsg.payload = {\n    \"to\": \"U393e65390f31e20eb7d99b27fedbe66a\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\": msg.payload\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1213.5,
        "y": 1109,
        "wires": [
            [
                "f9a88824.b84628",
                "fcb24884.d0d508"
            ]
        ]
    },
    {
        "id": "f90d3534.a2b848",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "TTS Speech Weather(Today)",
        "func": "var payloadObj = JSON.parse(msg.payload);\nvar weekday='';\nvar datetime = msg.result.entities;\n\nif(msg.payload.entities[0])\ndatetime = msg.payload.entities[0].value\nelse\ndatetime = '今天';\n\nif(datetime=='今天'){\n    if(payloadObj.forecasts[0].day)\n        msg.payload= payloadObj.forecasts[0].day.daypart_name+\" : \"+payloadObj.forecasts[0].narrative;\n    else\n        msg.payload= payloadObj.forecasts[0].night.daypart_name+\" : \"+payloadObj.forecasts[0].narrative;\n\n}\nelse if(datetime=='明天'){\n    if(payloadObj.forecasts[1].day)\n        msg.payload= payloadObj.forecasts[1].day.daypart_name+\" : \"+payloadObj.forecasts[1].narrative;\n    else\n        msg.payload= payloadObj.forecasts[1].night.daypart_name+\" : \"+payloadObj.forecasts[1].narrative;\n\n    \n}\nelse if (datetime.indexOf('後天') > -1){\nif(payloadObj.forecasts[2].day)\n        msg.payload= payloadObj.forecasts[2].day.daypart_name+\" : \"+payloadObj.forecasts[2].narrative;\n    else\n        msg.payload= payloadObj.forecasts[2].night.daypart_name+\" : \"+payloadObj.forecasts[2].narrative;\n\n    \n}\nelse if (datetime.indexOf('周') > -1 || datetime.indexOf('週') > -1){\n    for(var i=0;i<4;i++){\n       // if(payloadObj.forecasts[i].day)\n      //  weekday+= payloadObj.forecasts[i].day.daypart_name+\" : \"+payloadObj.forecasts[i].narrative+'@'+payloadObj.forecasts[i].fcst_valid_local+\"\\n\";\n       // else\n        weekday+= payloadObj.forecasts[i].night.daypart_name+\" : \"+payloadObj.forecasts[i].narrative+\"\\n\";\n       \n        \n    }\n   msg.payload=weekday;\n    \n}\nelse {entities\n   if(payloadObj.forecasts[0].day)\n        msg.payload= payloadObj.forecasts[0].day.daypart_name+\" : \"+payloadObj.forecasts[0].narrative;\n    else\n        msg.payload= payloadObj.forecasts[0].night.daypart_name+\" : \"+payloadObj.forecasts[0].narrative;\n\n}\n\nif(msg.eventId === 'web') {\n    msg.payload = {\n        message: \"台北：\"+msg.payload,\n        sid: msg.sid\n    }\n    return msg;\n} else {\nmsg.payload = msg.eventId+'#'+msg.eventUser+'#'+\"台北 : \"+msg.payload;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2544.439208984375,
        "y": 645.55224609375,
        "wires": [
            [
                "ec32f530.29c47",
                "70b85c1a.268dc4",
                "7bc36cbe.5f278c",
                "f6a82eb5.e3ac48",
                "1dca4bc6.1574c4"
            ]
        ]
    },
    {
        "id": "eed8a2ff.4af558",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "",
        "property": "askStock",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 2230.000057220459,
        "y": 1373.8838486671448,
        "wires": [
            [
                "c2c4ef3f.d129d8",
                "1135e5d9.745e02"
            ],
            [
                "ed7929f4.cdf33"
            ]
        ]
    },
    {
        "id": "53ae1c0d.88838c",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 2470.35693359375,
        "y": 805.2767944335938,
        "wires": [
            [
                "c9c54d04.5c35e",
                "c90ab24a.6f44a8"
            ]
        ]
    },
    {
        "id": "e48e65ba.f75ce8",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2963.428466796875,
        "y": 2038.3839383125305,
        "wires": []
    },
    {
        "id": "8b40f1a.9ed641",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "",
        "property": "result.intents[0].confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.7",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 2884.428466796875,
        "y": 2206.026723384857,
        "wires": [
            [
                "4cbca5c0.8705e4"
            ],
            [
                "28879cd6.527d34"
            ]
        ]
    },
    {
        "id": "24d41c78.425914",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "deviceId",
        "x": 2970.7857055664062,
        "y": 2106.241041660309,
        "wires": []
    },
    {
        "id": "9fc63c49.b7af48",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "context.global.song_switch=true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2540.4285430908203,
        "y": 2173.8124766349792,
        "wires": [
            [
                "e9b804ff.d251b"
            ]
        ]
    },
    {
        "id": "f6a82eb5.e3ac48",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "chat",
        "deviceType": "WebAP",
        "eventCommandType": "web_out",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "web out",
        "service": "registered",
        "x": 3015.5714111328125,
        "y": 1295.8482213020325,
        "wires": []
    },
    {
        "id": "e85f7eb.576048",
        "type": "chatbot-facebook-send",
        "z": "76ec1e6a.40b38",
        "bot": "46b8227.7cc0fdc",
        "track": false,
        "outputs": 0,
        "x": 1509.1664733886719,
        "y": 1248.3334221839905,
        "wires": []
    },
    {
        "id": "554a4f16.3184b",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1545.833333333333,
        "y": 1388.333333333333,
        "wires": []
    },
    {
        "id": "7b75e530.14f6bc",
        "type": "link in",
        "z": "76ec1e6a.40b38",
        "name": "",
        "links": [
            "60ae1b13.c092d4"
        ],
        "x": 1110.5,
        "y": 1114.6666870117188,
        "wires": [
            [
                "7f970dfe.f856c4",
                "8f643cbe.8fc8f"
            ]
        ]
    },
    {
        "id": "fcb24884.d0d508",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "FB to Line",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.line.me/v2/bot/message/push",
        "tls": "",
        "x": 1511.5,
        "y": 1127,
        "wires": [
            []
        ]
    },
    {
        "id": "ec32f530.29c47",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2952.5713424682617,
        "y": 753.812472820282,
        "wires": []
    },
    {
        "id": "70b85c1a.268dc4",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload = msg.mid+'#'+msg.payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 3538.2857246398926,
        "y": 1492.0269255638123,
        "wires": [
            [
                "8205ae25.f38708"
            ]
        ]
    },
    {
        "id": "7bc36cbe.5f278c",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2864.8570671081543,
        "y": 652.1696209907532,
        "wires": []
    },
    {
        "id": "1dca4bc6.1574c4",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload=msg.payload.split('#').pop();\n   \nmsg.device_id='darwin2';\nmsg.deviceId='darwin2';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2877.3690147399902,
        "y": 701.0506482124329,
        "wires": [
            [
                "6007d984.a88c68"
            ]
        ]
    },
    {
        "id": "c2c4ef3f.d129d8",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "//msg.url='http://tommywu-iot-desinger.mybluemix.net/trans?text='+msg.payload;\n\n if(msg.stockcode===''){\n     var numb = msg.result.input.text.match(/\\d/g);\n     numb = numb.join(\"\");\n     msg.stockcode='TPE:'+numb;\n     node.log('==stockcode'+msg.stockcode);\n }\nqStr=encodeURI(msg.stockcode);\n//qStr='twse:6239';\nmsg.url='http://finance.google.com/finance/info?client=ig&q='+qStr;//%E4%BD%A0%E5%A5%BD%E7%8E%87'nasdaq:msft\n//if(msg.stockcode !=='')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2452.2856369018555,
        "y": 1359.4553380012512,
        "wires": [
            [
                "10073f35.7b5939",
                "f9b94e3.6f9bdb"
            ]
        ]
    },
    {
        "id": "1135e5d9.745e02",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "    var date = new Date();\n    var year = date.getFullYear();\n    var month = date.getMonth() + 1;\n    month = (month < 10 ? \"0\" : \"\") + month;\n    var day  = date.getDate();\n    day = (day < 10 ? \"0\" : \"\") + day;\n\n    // year-1911 + \"/\" + month + \"/\" + day;\n\nvar askStock=false;\nif(msg.result.entities){\n    for(var i=0;i<msg.result.entities.length;i++){\n        if(msg.result.entities[i].entity=='stock')\n            askStock=true;\n        // exchange = msg.result.entities[i].value;\n    }\n}\n\nvar datstr=year-1911 + \"/\" + month + \"/\" + day;\nvar datetime = msg.result.entities[0].value;\n\nif(datetime=='昨天'){\nday=day-1;\n}\nelse if(datetime=='前天'){\nday=day-2\n} else if(datetime=='大前天'){\nday=day-3\n} \n\n msg.askStock=askStock;\n var numb = msg.result.input.text.match(/\\d/g);\n numb = numb.join(\"\");\n msg.stockcode='TPE:'+numb;\n msg.payload = { CO_ID: numb, query_year: year,query_month:month };\n msg.stockdate=(year-1911) + \"/\" + month + \"/\" + day;\n msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2449.999885559082,
        "y": 1421.1696484088898,
        "wires": [
            [
                "c67a4452.855958"
            ]
        ]
    },
    {
        "id": "ed7929f4.cdf33",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "即時匯率",
        "method": "GET",
        "ret": "txt",
        "url": "http://tw.rter.info/capi.php",
        "x": 2553.244026184082,
        "y": 1578.3330626487732,
        "wires": [
            [
                "c9d3ddd4.55ceb8"
            ]
        ]
    },
    {
        "id": "c9c54d04.5c35e",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var qStr=msg.payload;\nqStr=encodeURI(qStr);\nvar msg1={url:\"\"};\nmsg1.url='https://sv.chinabluemix.net/chineseqa/api/qa?text='+qStr;\n//msg1.url='https://crl.ptopenlab.com:8800/chineseqa/api/qa?text='+qStr;\nmsg1.eventId=msg.eventId;\nmsg1.eventUser=msg.eventUser;\nmsg1.mid=msg.mid;\nmsg1.sid=msg.sid;\n\n//var apiKey=\"AIzaSyC-5zBxoCmKwp0k7CePGxq47mTCJjRc5zQ\";\n//msg.url=\"https://www.googleapis.com/language/translate/v2?key=\" + apiKey + \"&source=en&target=zh&q=\" + qStr;\n//}\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2512.0713081359863,
        "y": 933.1338953971863,
        "wires": [
            [
                "69e4f2e6.0450c4"
            ]
        ]
    },
    {
        "id": "c90ab24a.6f44a8",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2670.111083984375,
        "y": 806.0446166992188,
        "wires": []
    },
    {
        "id": "52084587.e7344c",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "//msg.payload=msg.payload.d.text;\n// var numb = msg.result.input.text;\nqStr=encodeURI(msg.payload);\nmsg.url='http://darwin.mybluemix.net/trans_zh?text='+qStr;//%E4%BD%A0%E5%A5%BD%m\n//msg.eventId=msg.payload.d.eventId;\n//msg.eventUser=msg.payload.d.eventUser;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2307.857105255127,
        "y": 805.9176287651062,
        "wires": [
            [
                "53ae1c0d.88838c"
            ]
        ]
    },
    {
        "id": "4cbca5c0.8705e4",
        "type": "delay",
        "z": "76ec1e6a.40b38",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 3063.9285888671875,
        "y": 2202.2432589530945,
        "wires": [
            [
                "2a62a6e0.f0fbf2"
            ]
        ]
    },
    {
        "id": "28879cd6.527d34",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "ChatBOT Device",
        "property": "deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "linebot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "fbbot-test",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 3156.5001220703125,
        "y": 2300.526825428009,
        "wires": [
            [
                "15aca634.d0682a"
            ],
            [
                "5cd10201.c2e634"
            ]
        ]
    },
    {
        "id": "5149e070.39ea3",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "Music Switch",
        "property": "song_switch",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 2387.428565979004,
        "y": 2174.1696887016296,
        "wires": [
            [],
            [
                "9fc63c49.b7af48"
            ]
        ]
    },
    {
        "id": "fec24ddc.f1a588",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "if(msg.eventId ==='web'){\n    msg.payload = {\n        message: msg.payload.answers[context.global.AnsIndex].answer,\n        sid: msg.sid\n    }\n    return msg;\n} else { \n\nmsg.payload=msg.mid+\"#\"+msg.eventId+'#'+msg.eventUser+'#'+msg.payload.answers[context.global.AnsIndex].answer+\"#\"+msg.payload.answers[context.global.AnsIndex].score;\n//msg.payload=msg.eventId+'#'+msg.eventUser+'#'+msg.payload+\"#\"+'0.9';//msg.score;\nif(!context.global.phone_dialog_answer)\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2483.2142944335938,
        "y": 1277.705295085907,
        "wires": [
            [
                "f7fde640.a0518",
                "ff570233.0726a",
                "f6a82eb5.e3ac48"
            ]
        ]
    },
    {
        "id": "7f970dfe.f856c4",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1214.5,
        "y": 1193,
        "wires": []
    },
    {
        "id": "8205ae25.f38708",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "fbbot-test",
        "deviceType": "robot",
        "eventCommandType": "ch_tts_output",
        "format": "string",
        "data": "msg.payload",
        "qos": "",
        "name": "FB ch_tts",
        "service": "registered",
        "x": 3706.202606201172,
        "y": 1490.9436964988708,
        "wires": []
    },
    {
        "id": "70b2d453.9d353c",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var curr=msg.payload.USDTWD;\nvar exchange='';\nif(msg.result.entities){\n    for(var i=0;i<msg.result.entities.length;i++){\n        if(msg.result.entities[i].entity=='exchange')\n         exchange = msg.result.entities[i].value;\n    }\n}\nif(exchange=='日圓' || exchange=='日元' || exchange=='日幣')\nmsg.payload='目前美金對日圓匯率為,一美金兌換'+msg.payload.USDJPY.Exrate+'塊新台幣@'+msg.payload.USDJPY.UTC;\nelse if(exchange=='人民幣')\nmsg.payload='目前美金對人民幣匯率為,一美金兌換'+msg.payload.USDCNY.Exrate+'塊新台幣@'+msg.payload.USDCNY.UTC;\nelse if(exchange=='港幣')\nmsg.payload='目前美金對港幣匯率為,一美金兌換'+msg.payload.USDHKD.Exrate+'塊新台幣@'+msg.payload.USDHKD.UTC;\nelse if(exchange=='歐元')\nmsg.payload='目前美金對歐元匯率為,一美金兌換'+msg.payload.USDEUR.Exrate+'塊新台幣@'+msg.payload.USDEUR.UTC;\nelse if(exchange=='韓元')\nmsg.payload='目前美金對韓元匯率為,一美金兌換'+msg.payload.USDKRW.Exrate+'塊新台幣@'+msg.payload.USDKRW.UTC;\nelse if(exchange=='英鎊')\nmsg.payload='目前美金對英鎊匯率為,一美金兌換'+msg.payload.USDGBP.Exrate+'塊新台幣@'+msg.payload.USDGBP.UTC;\nelse if(exchange=='新加坡幣')\nmsg.payload='目前美金對新加坡幣匯率為,一美金兌換'+msg.payload.USDSGD.Exrate+'塊新台幣@'+msg.payload.USDSGD.UTC;\nelse\nmsg.payload='目前美金對新台幣匯率為,一美金兌換'+curr.Exrate+'塊新台幣@'+curr.UTC;\nmsg.payload= msg.eventId+'#'+msg.eventUser+'#'+msg.payload;\nreturn msg;\n//msg.payload=parseInt(curr.Exrate*100);\n//msg.topic='Exchange Rate'\n//var currUTC=msg.payload.USDTWD.Exrate;\n//msg.payload='美金兌台幣 現價 :'+curr.Exrate+' 日期 :'+curr.UTC;\n//msg.payload='USD To CNY Exchange Rate :'+parseInt(curr.Exrate*100)+' , Date :'+curr.UTC;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2874.8153953552246,
        "y": 1582.904818058014,
        "wires": [
            [
                "70b85c1a.268dc4"
            ]
        ]
    },
    {
        "id": "12aaad9a.480afa",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "Parse 某日期股票",
        "func": "var stockarray = msg.payload.split(\"\\t\\t\\t\\t\\t\\t\\t\");\nvar stockprice='';\nfor(var i=0;i<stockarray.length;i++){\nif(stockarray[i].indexOf(msg.stockdate)>-1)\n    stockprice = stockarray[i];\n}\nmsg.payload=stockprice;\nif(stockprice !=='')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2939.8572845458984,
        "y": 1545.4552636146545,
        "wires": [
            [
                "62b4080b.72acb",
                "70b85c1a.268dc4"
            ]
        ]
    },
    {
        "id": "cbc9f959.5558b",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var stockstring = msg.payload.replace('//','');\n//msg.payload=stockstring;\nvar stockPrice = JSON.parse(stockstring);\nmsg.payload=msg.eventId+'#'+msg.eventUser+'#'+stockPrice[0].l+' : '+stockPrice[0].c;//+'@'+stockPrice[0].lt_dts;\n\n//if(msg.result.input.text.indexOf('微軟') > -1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2775.5713272094727,
        "y": 1400.4553017616272,
        "wires": [
            [
                "70b85c1a.268dc4"
            ]
        ]
    },
    {
        "id": "6007d984.a88c68",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "darwin2",
        "deviceType": "robot",
        "eventCommandType": "speak",
        "format": "string",
        "data": "msg.payload",
        "qos": 0,
        "name": "To Darwin2",
        "service": "registered",
        "x": 3091.6547775268555,
        "y": 699.4792222976685,
        "wires": []
    },
    {
        "id": "10073f35.7b5939",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "美股",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 2583.857177734375,
        "y": 1323.02685546875,
        "wires": [
            [
                "cbc9f959.5558b",
                "9ae7be2e.ce3ae8",
                "f9b94e3.6f9bdb"
            ]
        ]
    },
    {
        "id": "f9b94e3.6f9bdb",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "url",
        "x": 2805.5712890625,
        "y": 1356.0267333984375,
        "wires": []
    },
    {
        "id": "5829906c.0d58f8",
        "type": "inject",
        "z": "76ec1e6a.40b38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2274.8570709228516,
        "y": 1323.4553213119507,
        "wires": [
            [
                "c2c4ef3f.d129d8"
            ]
        ]
    },
    {
        "id": "c67a4452.855958",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "台股",
        "method": "POST",
        "ret": "txt",
        "url": "www.tse.com.tw/ch/trading/exchange/STOCK_DAY_AVG/STOCK_DAY_AVGMAIN.php",
        "tls": "",
        "x": 2585.28564453125,
        "y": 1440.0267333984375,
        "wires": [
            [
                "77343ce0.885294"
            ]
        ]
    },
    {
        "id": "c9d3ddd4.55ceb8",
        "type": "json",
        "z": "76ec1e6a.40b38",
        "name": "",
        "x": 2705.101234436035,
        "y": 1579.0477166175842,
        "wires": [
            [
                "70b2d453.9d353c"
            ]
        ]
    },
    {
        "id": "69e4f2e6.0450c4",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 2668.21435546875,
        "y": 936.1338500976562,
        "wires": [
            [
                "c90ab24a.6f44a8",
                "54022366.bbebf4"
            ]
        ]
    },
    {
        "id": "54022366.bbebf4",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 2390.142822265625,
        "y": 868.489013671875,
        "wires": [
            [
                "9ebb3654.f7419"
            ],
            [
                "c90ab24a.6f44a8"
            ]
        ]
    },
    {
        "id": "559b30bb.21a8e",
        "type": "inject",
        "z": "76ec1e6a.40b38",
        "name": "",
        "topic": "",
        "payload": "我有點疲倦",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2165.71435546875,
        "y": 806.34619140625,
        "wires": [
            [
                "52084587.e7344c"
            ]
        ]
    },
    {
        "id": "2a62a6e0.f0fbf2",
        "type": "switch",
        "z": "76ec1e6a.40b38",
        "name": "ChatBOT Device",
        "property": "device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "linebot",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 3262.9286041259766,
        "y": 2199.991062641144,
        "wires": [
            [
                "15aca634.d0682a"
            ],
            [
                "358135b0.8bc972"
            ]
        ]
    },
    {
        "id": "15aca634.d0682a",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.device_id='linebot';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3468.642936706543,
        "y": 2194.99116563797,
        "wires": [
            [
                "c1b232c9.64f6e"
            ]
        ]
    },
    {
        "id": "5cd10201.c2e634",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.device_id='fbbot-test';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3595.785758972168,
        "y": 2416.7765097618103,
        "wires": [
            [
                "9a845785.c75a6"
            ]
        ]
    },
    {
        "id": "f7fde640.a0518",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2751.714340209961,
        "y": 1288.7747883796692,
        "wires": []
    },
    {
        "id": "ff570233.0726a",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "fbbot-test",
        "deviceType": "robot",
        "eventCommandType": "ch_tts_output",
        "format": "string",
        "data": "msg.payload",
        "qos": "",
        "name": "FB ch_tts",
        "service": "registered",
        "x": 3108.3450775146484,
        "y": 1403.429545879364,
        "wires": []
    },
    {
        "id": "9ebb3654.f7419",
        "type": "json",
        "z": "76ec1e6a.40b38",
        "name": "",
        "x": 2196.4999618530273,
        "y": 1032.4196133613586,
        "wires": [
            [
                "420d9fcc.99142",
                "df30fba4.79c3e8",
                "fec24ddc.f1a588",
                "396fca3f.5a3e1e",
                "5152198f.8425a"
            ]
        ]
    },
    {
        "id": "62b4080b.72acb",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3124.5714797973633,
        "y": 1495.8124432563782,
        "wires": []
    },
    {
        "id": "77343ce0.885294",
        "type": "html",
        "z": "76ec1e6a.40b38",
        "name": "爬股票資料",
        "tag": "table",
        "ret": "text",
        "as": "multi",
        "x": 2764.5713806152344,
        "y": 1496.4553360939026,
        "wires": [
            [
                "62b4080b.72acb",
                "12aaad9a.480afa"
            ]
        ]
    },
    {
        "id": "9ae7be2e.ce3ae8",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2796.7141647338867,
        "y": 1446.4553017616272,
        "wires": []
    },
    {
        "id": "358135b0.8bc972",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload = 'noanswer#'+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3451.142936706543,
        "y": 2308.0266206264496,
        "wires": [
            [
                "5cd10201.c2e634"
            ]
        ]
    },
    {
        "id": "c1b232c9.64f6e",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "fbbot-test",
        "deviceType": "robot",
        "eventCommandType": "ch_tts_output",
        "format": "json",
        "data": "msg.payload",
        "qos": "0",
        "name": "Line ch_tts",
        "service": "registered",
        "x": 3634.467399597168,
        "y": 2196.9047932624817,
        "wires": []
    },
    {
        "id": "9a845785.c75a6",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "fbbot-test",
        "deviceType": "robot",
        "eventCommandType": "ch_tts_output",
        "format": "string",
        "data": "msg.payload",
        "qos": "0",
        "name": "FB ch_tts",
        "service": "registered",
        "x": 3757.2145385742188,
        "y": 2412.49090051651,
        "wires": []
    },
    {
        "id": "fdc99845.960c1",
        "type": "template",
        "z": "76ec1e6a.40b38",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "請問你想要找什麼信用卡呢?",
        "x": 2133.359703063965,
        "y": 1800.3609490394592,
        "wires": [
            [
                "ff570233.0726a"
            ]
        ]
    },
    {
        "id": "53fcb638.0fad3",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var title=\"我推薦的信用卡為，\"+msg.payload.response.docs[0].title;\nreturn {payload:title};",
        "outputs": 1,
        "noerr": 0,
        "x": 2759.583881378174,
        "y": 1805.9111371040344,
        "wires": [
            [
                "ff570233.0726a"
            ]
        ]
    },
    {
        "id": "420d9fcc.99142",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2346.8808975219727,
        "y": 962.6417679786682,
        "wires": []
    },
    {
        "id": "df30fba4.79c3e8",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.answers[0].score",
        "x": 2578.658706665039,
        "y": 1016.0704216957092,
        "wires": []
    },
    {
        "id": "396fca3f.5a3e1e",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload=msg.payload.answers[context.global.AnsIndex].answer;\n//msg.score=msg.payload.answers[0].score;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2442.714328765869,
        "y": 1125.3462290763855,
        "wires": [
            [
                "683809.d5d7aff8"
            ]
        ]
    },
    {
        "id": "5152198f.8425a",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload=msg.payload.answers[context.global.AnsIndex].answer;\n   \nmsg.device_id='darwin2';\nmsg.deviceId='darwin2';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2459.9642333984375,
        "y": 1200.7410106658936,
        "wires": [
            [
                "5cdd27b6.97109"
            ]
        ]
    },
    {
        "id": "55894e7.949fcb",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "if(context.global.RandR_switch===undefined)\n{\n    context.global.RandR_switch=false;\n}\nif(msg.payload.indexOf(\"信用卡\")>-1&&msg.payload.indexOf(\"找\")>-1&&context.global.RandR_switch===false){\n\n\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1929.2113952636719,
        "y": 1768.0866570472717,
        "wires": [
            [
                "fdc99845.960c1",
                "843e424e.5a3ca"
            ]
        ]
    },
    {
        "id": "bab5e115.a79fa8",
        "type": "json",
        "z": "76ec1e6a.40b38",
        "name": "",
        "x": 2608.014793395996,
        "y": 1808.711045742035,
        "wires": [
            [
                "53fcb638.0fad3"
            ]
        ]
    },
    {
        "id": "683809.d5d7aff8",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2654.6427612304688,
        "y": 1166.4414772987366,
        "wires": []
    },
    {
        "id": "5cdd27b6.97109",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "darwin2",
        "deviceType": "robot",
        "eventCommandType": "speak",
        "format": "string",
        "data": "msg.payload",
        "qos": 0,
        "name": "To Darwin2",
        "service": "registered",
        "x": 2641.392807006836,
        "y": 1229.8839201927185,
        "wires": []
    },
    {
        "id": "843e424e.5a3ca",
        "type": "delay",
        "z": "76ec1e6a.40b38",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2147.786392211914,
        "y": 1722.086850643158,
        "wires": [
            [
                "b2d3ee62.12d508"
            ]
        ]
    },
    {
        "id": "111c3c95.be29c3",
        "type": "subflow:5f749144.e18b6",
        "z": "76ec1e6a.40b38",
        "name": "",
        "x": 1739.0764541625977,
        "y": 1801.6691575050354,
        "wires": [
            [
                "55894e7.949fcb",
                "d57c79cc.3c3bd"
            ]
        ]
    },
    {
        "id": "ac4b890a.4d0f4",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "Retrieve and Rank Serivce",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 2342.72908782959,
        "y": 1828.7112202644348,
        "wires": [
            [
                "1bd716d9.617cf9",
                "bab5e115.a79fa8"
            ]
        ]
    },
    {
        "id": "b2d3ee62.12d508",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "context.global.RandR_switch=true;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2318.9457931518555,
        "y": 1724.5476746559143,
        "wires": [
            []
        ]
    },
    {
        "id": "d57c79cc.3c3bd",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "if(context.global.RandR_switch===true&&msg.payload.indexOf(\"信用卡\")>-1)\n{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1931.9285469055176,
        "y": 1856.7053589820862,
        "wires": [
            [
                "cc0b3611.beba88",
                "7b361b61.24406c"
            ]
        ]
    },
    {
        "id": "1bd716d9.617cf9",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 2661.300491333008,
        "y": 1892.4254698753357,
        "wires": []
    },
    {
        "id": "7b361b61.24406c",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var qStr=msg.payload;\nqStr=encodeURI(qStr);\nvar msg1={url:\"\"};\nmsg1.url='https://919e5eac-aa5e-4773-aa5a-d0cd1f77397c:VQ6IMS1AyJx9@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/sc116f7b40_c7df_4f74_adf2_8ad69e4a43ce/solr/example_collection/select?q='+qStr+'&wt=json&fl=id,title';\n//var apiKey=\"AIzaSyC-5zBxoCmKwp0k7CePGxq47mTCJjRc5zQ\";\n//msg.url=\"https://www.googleapis.com/language/translate/v2?key=\" + apiKey + \"&source=en&target=zh&q=\" + qStr;\n//}\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2139.4433555603027,
        "y": 1877.71111536026,
        "wires": [
            [
                "ac4b890a.4d0f4"
            ]
        ]
    },
    {
        "id": "cc0b3611.beba88",
        "type": "delay",
        "z": "76ec1e6a.40b38",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2171.990894317627,
        "y": 1936.8160767555237,
        "wires": [
            [
                "2728f0c8.fb0678"
            ]
        ]
    },
    {
        "id": "2728f0c8.fb0678",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "context.global.RandR_switch=false;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2335.4360389709473,
        "y": 1936.5627465248108,
        "wires": [
            []
        ]
    },
    {
        "id": "46b8227.7cc0fdc",
        "type": "chatbot-facebook-node",
        "z": "",
        "botname": "touchbot",
        "usernames": "1566663023346313",
        "log": ""
    }
]