LineBot
[
    {
        "id": "a6006b73.35e358",
        "type": "ibmiot in",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "touchbot",
        "applicationId": "",
        "deviceType": "bottype",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": true,
        "qos": 0,
        "x": 799,
        "y": 842,
        "wires": [
            [
                "3bdad99b.d828fe",
                "deecadfc.f15a9"
            ]
        ]
    },
    {
        "id": "fd00f0ea.23bdc",
        "type": "watson-conversation-v1",
        "z": "76ec1e6a.40b38",
        "name": "",
        "workspaceid": "7b01a0a3-71f5-490e-86e9-56ff26ed3ce4",
        "multiuser": true,
        "context": true,
        "x": 1119.8333358764648,
        "y": 789.9999904632568,
        "wires": [
            [
                "e992a143.02bcd",
                "b4ec1e0a.de8d48",
                "55e09b5c.530314"
            ]
        ]
    },
    {
        "id": "deecadfc.f15a9",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var m = msg.payload;\nif (m.type === 'text') {\n    node.warn(m.text);\n    msg.payload = m.text\n    msg.user = m.user;\n    msg.message = m;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 960.5000381469727,
        "y": 846.1999225616455,
        "wires": [
            [
                "d1818baf.8176c8"
            ]
        ]
    },
    {
        "id": "e992a143.02bcd",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "var output =  msg.payload.output.text[0];\nnode.warn(output);\nmsg.payload = {\n    message: msg.message,\n    reply: {\n        text: output\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1181.5,
        "y": 878.2000122070312,
        "wires": [
            [
                "c0637068.95b558",
                "f9a88824.b84628"
            ]
        ]
    },
    {
        "id": "3bdad99b.d828fe",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1089.500036239624,
        "y": 740.9999961853027,
        "wires": []
    },
    {
        "id": "b4ec1e0a.de8d48",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1434.5,
        "y": 783.4000244140625,
        "wires": []
    },
    {
        "id": "c0637068.95b558",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1426.5,
        "y": 861.7999877929688,
        "wires": []
    },
    {
        "id": "f9a88824.b84628",
        "type": "ibmiot out",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "touchbot",
        "deviceType": "bottype",
        "eventCommandType": "reply",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 1339,
        "y": 918,
        "wires": []
    },
    {
        "id": "980494eb.3c7598",
        "type": "ibmiot in",
        "z": "76ec1e6a.40b38",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "raspberry-touch",
        "applicationId": "",
        "deviceType": "bottype",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": true,
        "qos": 0,
        "x": 830.5,
        "y": 703,
        "wires": [
            [
                "3bdad99b.d828fe",
                "deecadfc.f15a9"
            ]
        ]
    },
    {
        "id": "e85f7eb.576048",
        "type": "chatbot-facebook-send",
        "z": "76ec1e6a.40b38",
        "bot": "46b8227.7cc0fdc",
        "track": false,
        "outputs": 0,
        "x": 1514.16650390625,
        "y": 1010.3333740234375,
        "wires": []
    },
    {
        "id": "206bf83.3ca7e08",
        "type": "chatbot-message",
        "z": "76ec1e6a.40b38",
        "name": "",
        "message": [
            {
                "message": ""
            }
        ],
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 1154.8333740234375,
        "y": 1009.0001220703125,
        "wires": [
            [
                "b8c35793.421d98",
                "1e2f6346.e1181d"
            ]
        ]
    },
    {
        "id": "d1818baf.8176c8",
        "type": "chatbot-conversation",
        "z": "76ec1e6a.40b38",
        "name": "",
        "chatId": "1266014466844769",
        "transport": "facebook",
        "messageId": "",
        "contextMessageId": false,
        "x": 980.1666259765625,
        "y": 1007,
        "wires": [
            [
                "206bf83.3ca7e08",
                "123c365a.4d6bfa"
            ]
        ]
    },
    {
        "id": "123c365a.4d6bfa",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1124.1666259765625,
        "y": 1062,
        "wires": []
    },
    {
        "id": "b8c35793.421d98",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1318.1666259765625,
        "y": 1058.6666259765625,
        "wires": []
    },
    {
        "id": "1e2f6346.e1181d",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.payload.content = msg.message.text\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1322.1666259765625,
        "y": 1010.3333740234375,
        "wires": [
            [
                "e85f7eb.576048",
                "554a4f16.3184b"
            ]
        ]
    },
    {
        "id": "554a4f16.3184b",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1502.8333740234375,
        "y": 1062.3333740234375,
        "wires": []
    },
    {
        "id": "7b75e530.14f6bc",
        "type": "link in",
        "z": "76ec1e6a.40b38",
        "name": "",
        "links": [
            "60ae1b13.c092d4"
        ],
        "x": 762.5,
        "y": 1260.6666259765625,
        "wires": [
            [
                "7f970dfe.f856c4",
                "8f643cbe.8fc8f"
            ]
        ]
    },
    {
        "id": "7f970dfe.f856c4",
        "type": "debug",
        "z": "76ec1e6a.40b38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 944.5,
        "y": 1308,
        "wires": []
    },
    {
        "id": "8f643cbe.8fc8f",
        "type": "function",
        "z": "76ec1e6a.40b38",
        "name": "",
        "func": "msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"Bearer WdFhI0tGkaL2hyfHCkqL/920/MExP1PTy8omY1+kRl94gNQIU0aXjYmoW65rOy++nRha6dzDklYBkHp2md4SkRpuXxq45vrRmDOfcD7NXv/vOyndHiKJxS1rX/XoF0lME22O8VQ3KrE79K28JhffkwdB04t89/1O/w1cDnyilFU=\"\n     }\n     \nmsg.payload = {\n    \"to\": \"U393e65390f31e20eb7d99b27fedbe66a\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\": msg.payload\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 944.5,
        "y": 1262,
        "wires": [
            [
                "fcb24884.d0d508"
            ]
        ]
    },
    {
        "id": "fcb24884.d0d508",
        "type": "http request",
        "z": "76ec1e6a.40b38",
        "name": "FB to Line",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.line.me/v2/bot/message/push",
        "tls": "",
        "x": 1118.5,
        "y": 1262,
        "wires": [
            []
        ]
    },
    {
        "id": "98d415c1.fd5b78",
        "type": "comment",
        "z": "76ec1e6a.40b38",
        "name": "從 FB 來的訊息",
        "info": "",
        "x": 701,
        "y": 1212,
        "wires": []
    },
    {
        "id": "96da5390.5028e8",
        "type": "comment",
        "z": "76ec1e6a.40b38",
        "name": "從 Line 要丟給 FB 的訊息",
        "info": "",
        "x": 1018,
        "y": 962,
        "wires": []
    },
    {
        "id": "2b0e3ad4.f0d0ee",
        "type": "comment",
        "z": "76ec1e6a.40b38",
        "name": "從 LINE 來的訊息",
        "info": "",
        "x": 691.6666259765625,
        "y": 801.6666259765625,
        "wires": []
    },
    {
        "id": "46b8227.7cc0fdc",
        "type": "chatbot-facebook-node",
        "z": "",
        "botname": "touchbot",
        "usernames": "",
        "log": ""
    }
]